fastapi
jinja2
uvicorn[standard]
python-multipart
pydantic
python-dotenv
PyJWT
celery[redis]
langchain-postgres
langchain-ollama
pypdf
pdfplumber
pypdfium2
pgvector
psycopg[binary]
pytesseract
SQLAlchemy
