fastapi
jinja2
uvicorn[standard]
python-multipart
pydantic
python-dotenv
PyJWT
celery[redis]
chromadb
langchain-chroma
langchain-ollama
pypdf
pdfplumber
pypdfium2
psycopg[binary]
pytesseract
SQLAlchemy
