fastapi
jinja2
uvicorn[standard]
python-multipart
pydantic
python-dotenv
PyJWT
celery[redis]
chromadb
langchain-chroma
langchain-ollama
pymupdf
pymupdf4llm
psycopg[binary]
SQLAlchemy[asyncio]
asyncpg
httpx
ollama
docling
